html {
	padding-top: 50px;
	color: #ffffff;
}

body {
	background-image: url("images/background.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}

footer{
	font-family: Verdana;
	text-align: center;
}

#selfie {
	border-radius: 50%;
	box-shadow: 5px 5px 5px #999;
}

#socials {
	text-decoration: underline;
	font-family: Verdana;
	text-align: center;
}

#social_icons {
	text-align: center;
}

#work_sample {
	width: 400px;
	height: 200px;
	border: 2px solid white;
	margin: 1px;
}

.button {
	background-color: #e7e7e7;
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

h1 {
	font-family: verdana;
	margin-top: 50px;
}

h2 {
	font-family: verdana;
}


main {
	font-family: verdana;
	margin-left: 12.5%;
	min-width: 75%;
	max-width: 75%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

nav li {
    display: inline-flex;
    text-align: center;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  	font-family: arial;
  	text-align: center;
}

nav li a.active {
	background-color: #6495ed;
	text-align: center;
}

nav li a:hover:not(.active) {
	background-color: #111;
	color: white;
	text-align: center;
}

header {
	text-align: center;
}
